* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: rgb(49, 46, 46);
}

h2 {
  color: #fff;
  text-align: center;
  margin: 5px 0 20px;
}

.app {
  height: 100vh;
  background-color: rgb(10, 55, 55);
  padding: 50px;
}

.todo-list {
  margin: auto;
  background-color: burlywood;
  border-radius: 3px;
  max-width: 400px;
  padding: 10px;
}

.todo {
  position: relative;
  align-items: center;
  background: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.form {
}
.edit {
  border: none;
  outline: none;
  padding: 5px;
  word-wrap: normal;
  width: 100%;
}
.input, .add {
  padding: 5px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px #ccc solid;
  height: auto;
}
.remove {
  right: 0;
}
.update {
  right: 7%;
}
.remove, .update {
  position: absolute;
  margin: 0 5px;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px #ccc solid;
}